.Absolute-Center {
  margin: 10% auto;
  position: auto;
  top: 0px; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  min-width: 200px;
  max-width: 500px;
  padding: 40px;
}

.loginErrorMessage {
  font: 12px bold;
  display: none;
}

.ncrLogo {
  display: block;
  margin: auto;
  background: url('../images/NCR-Logo.ico') no-repeat center center;
  height: 100px;
  width: 300px;
}


#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
/*  background-image:url('http://placehold.it/200x30/000000/ffffff/&text=BRAND+LOGO');*/
}
