.Absolute-Center {
  margin: 10% auto;
  position: auto;
  top: 0px; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  min-width: 200px;
  max-width: 500px;
  padding: 40px;
}

.loginErrorMessage {
  font: 12px bold;
  display: none;
}

.ncrLogo {
  display: block;
  margin: auto;
  background: url('../images/NCR.ico') no-repeat center center;
  height: 100px;
  width: 300px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
}

.spaceRight{
  margin-right:15px !important;
}
.logo{
  display: inline;
  background-color: white;
}
.table{
  margin-top: 30px;
}
.my-error-class {
  color: red;
}